body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 2em;
}
p{
    letter-spacing: 0.5em;
    word-spacing: 2em;
    line-height: 1.5;
    text-align: justify;
}